@model TheMovies.Models.Movie

<div>
    <table id="DetailsTable" class="table table-condensed table-striped">
        <tr>
            <td>
                <span class="label label-success">@Html.DisplayNameFor(model => model.MovieTitle)&nbsp;</span>&nbsp;
            </td>
            <td>
                <span class="label label-success">@Html.DisplayNameFor(model => model.ReleaseDate)&nbsp;</span>&nbsp;
            </td>
            <td>
                <span class="label label-success">@Html.DisplayNameFor(model => model.Genre)&nbsp;</span>&nbsp;
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.MovieTitle)
            </td>

            <td>
                @Html.DisplayFor(model => model.ReleaseDate)
            </td>

            <td>
                @Html.DisplayFor(model => model.Genre)
            </td>
        </tr>
    </table>
    @using (Html.BeginForm())
    {

        <div class="form-actions btn btn-warning">
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
